* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(40, 40, 91);
}
button {
  width: 200px;
  height: 200px;
  /* margin: auto; */
  margin: 30px 10px 30px 10px;
  border-radius: 20px;
  border: 5px solid black;
}
.heads {
  text-align: center;
  margin-top: 4rem;
  color: white;
  font-size: 50px;
}
.btns1,
.btns2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  /* width: fit-content; */
}

.btn {
  display: flex;
  flex-direction: column;
}
/* .btns1
{
    margin-bottom: 20px;
} */
.b1 {
  background-color: green;
}
.b2 {
  background-color: red;
}
.b4 {
  background-color: blue;
}
.b3 {
  background-color: yellow;
}

.click_Anim
{
  border-color: white;
  box-shadow: 5px 5px 5px white;
  opacity: 0;
}

.pressed
{
  background-color: grey;
  box-shadow:  8px 8px 8px rgb(203, 215, 203);
}

.wrong
{
  background-color: red;
}